{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>ListaDLC</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="{% static 'css/lista.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    </head>
    <body>
        <!-- Side Navigation -->
        <nav class="w3-sidebar w3-bar-block w3-card w3-animate-left w3-center" style="display:none" id="mySidebar">
            <h1 class="w3-xxxlarge w3-text-theme">¿Qué quieres?</h1>
            <button class="w3-bar-item w3-button" onclick="w3_close()">CERRAR ESTO <i class="fa fa-remove"></i></button>
            <hr/>
            <a href="#" class="w3-bar-item w3-button">Ir a la lista principal</a>
            <a href="#" class="w3-bar-item w3-button">Ver las comidas de la semana</a>
            <a href="#" class="w3-bar-item w3-button">Ir a la lista de otras cosas</a>
        </nav>
        <!-- Header -->
        <header class="w3-container w3-theme w3-padding" id="myHeader">
            <div class="w3-row">
                <div class="w3-third">
                    <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i>
                </div>
                <div class="w3-third">
                    <span class="w3-xxxlarge w3-animate-bottom center">ListaDLC</span>
                </div>
                <div class="w3-third">
                    <span class="w3-bar-item w3-right">
                        <a class="w3-button w3-theme-d3 w3-disabled w3-circle">
                            {% if user.is_authenticated %}
                            {{ user.username|slice:":1"|upper }}
                            {% else %}
                            ?
                            {% endif %}
                        </a>
                    </span>
                </div>
            </div>
        </header>
        <div class="w3-row-padding w3-center w3-margin-top">
            {% block content %}
            {% endblock %}
        </div>
        <!-- Footer -->
        <footer class="w3-container w3-theme-dark">
            <p class="center">Desde 2025 facilitando la lista de la compra</p>
            <div style="position:relative;bottom:45px;" class="w3-tooltip w3-right">
                <span class="w3-text w3-theme-light w3-padding">¡Arriba con ella!</span>    
                <a class="w3-text-white" href="#myHeader"><span class="w3-xlarge">
                <i class="fa fa-chevron-circle-up"></i></span></a>
            </div>
        </footer>
        <script>
            // Side navigation
            function w3_open() {
              var x = document.getElementById("mySidebar");
              x.style.width = "100%";
              x.style.fontSize = "40px";
              x.style.paddingTop = "10%";
              x.style.display = "block";
            }
            function w3_close() {
              document.getElementById("mySidebar").style.display = "none";
            }
        </script>
    </body>
</html>