{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ListaDLC</title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/solid.min.css' %}">
    <link href="{% static 'dark_mode_switch/dark-mode-switch.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/lista.css' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
</head>

<body>
    <!-- Header -->
    <nav class="navbar navbar-expand bg-secondary-subtle">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}">
                ListaDLC
            </a>
            {% if user.is_authenticated %}
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                {% with request.resolver_match.url_name as url_name %}
                    <li>
                        <a href="{% url 'ingredient_list' %}" class="nav-link px-2 {% if 'ingredient' in url_name %} link-secondary {% endif %}">
                            Principal
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'meal_list' %}" class="nav-link px-2 {% if 'meal' in url_name %} link-secondary {% endif %}">
                            Comidas
                        </a>
                    </li>
                    <li><a href="#" class="nav-link px-2 {% if 'other' in url_name %} link-secondary {% endif %}">Otros</a></li>
                {% endwith %}
            </ul>
            <div class="dropdown">
                <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    <span width="32" height="32" class="rounded-circle">{{ user.username|slice:":1"|upper }}</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end text-small">
                    <li>
                        <form method="POST" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="dropdown-item btn btn-link">
                                Cerrar sesión
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
            {% endif %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" style="display: contents !important;">
                <ul class="navbar-nav">
                    {% include 'dark_mode_switch/dark_mode_switch.html' %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="text-center" id="loading">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Cargando...</span>
        </div>
    </div>
    <!-- Content -->
    <div class="container my-5">
        {% block content %}
        {% endblock %}
        <div class="modal fade" id="globalModal" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="globalModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="globalModalLabel"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body destination">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <a href="#" class="btn btn-primary" id="globalButton">Aceptar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="d-flex flex-wrap justify-content-between align-items-center p-3 border-top fixed-bottom bg-dark">
        <div class="col-md-4 d-flex align-items-center">
            <p class="mb-3 mb-md-0" style="color: gray;">Desde 2025 facilitando la lista de la compra</p>
        </div>
    </footer>
    {% bootstrap_javascript %}
    <script src="{% static 'dark_mode_switch/dark-mode-switch.js' %}"></script>
    <script src="/static/js/snippets.js"></script>
    <script>
      const loadingItem = document.getElementById('loading')
      loadingItem.style.display = 'none'
    </script>
</body>
</html>